#texte{
  width: 50%;
}
.main-body{
  background: linear-gradient(#6a11cb, #2575fc);
}
#form_lbl{
  font-weight: bold;
     font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal_body{
  width: auto;
  height: auto;
  background-color:burlywood;
  border-radius: 25px;
  
}
#form-input{
    padding: .5rem;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;


}
#form-input:focus{
  background: white;
}
.modal-body {
  padding: 0;
}
.Student-wrapperr{
  background-color: #e99ff6;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 60px #faf190;
  box-sizing: border-box;

}