.view{
  display: flex;
  justify-content: center;
  align-items: center;
    box-shadow: inset 0 0 60px rgb(253, 252, 252);
  background-color:  #2575fc;
  color: white;
  padding: .5%;
  border: 2px solid white;
  border-radius: 25px;
  margin: 0;

}
.card-box{
background: linear-gradient(#ee55da, #6cdbc9);
}
#search{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    background-color: black;
    color: black;
    transition: 0.3s;
    font-size: 1.2rem;

}
#search:focus{
  background-color: white;
   outline: none; 
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#card{
  margin: 1rem;
  width: 30rem;
  background-color: #038c77;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#card-title{
  display:flex;
  justify-content:center;
  align-items:center;
  color:blue;
    font-weight: bold;
  font-size: 1.5rem;
}

.details-box{
 background-color:#038c77;
color:black;
font-size: 1.2rem;
}
.addstudent{
  width: 50%;
  padding: .5rem;
  border-radius: 25px;
  color: black;
  font-size: 1.5rem;
  border: white;
      box-shadow: inset 0 0 1px rgb(253, 252, 252);
        border: 2px solid white;


}
